.navItems {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #ffffff56;
    padding: 10px;
    border-radius: 999px;
}

.navItems img {
    width: 30px;
}

.navItems:hover {
    cursor: pointer;
}


.s1 {
    background-image: url('/bgnew.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.s3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vid {
    width: 100%;
    height: 920px;
}

.s2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 70vh;
}

.card {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    /* transform: translateY(200px); */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.card.visible {
    opacity: 1;
    transform: translateY(0);
}

.s4 {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: -8vh;
    padding: 100px;
}

.formulario {
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--text);
    border-radius: 10px;
    box-shadow: 0px 3px 10px #051723;
    margin-bottom: 8vh;
}

.formulario label {
    width: 100%;
    padding: 20px;
    margin-bottom: -35px;
    font-size: 18px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--text);
    background-color: transparent;
    color: var(--text);
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 3px 10px #051723;
}

.formulario textarea {
    max-width: 100%;
    width: 255px;
    min-width: 255px;
    padding: 10px;
    border: 2px solid var(--text);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text);
    font-size: 16px;
    box-shadow: 0px 3px 10px #051723;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: var(--text);
    color: #051723;
    border: none;
    border: 2px solid var(--bg);
    border-radius: 5px;
    font-size: 18px;
    font-size: 600;
    transition: all 200ms ease-in-out;
}

.formulario button:hover {
    cursor: pointer;
    box-shadow: 0px 3px 10px #051723;
    background-color: transparent;
    color: var(--text);
    border: 2px solid var(--text);
}

#saturno-container {
    width: 700px;
    height: 500px;
    cursor: grab;
    overflow: hidden;
}

@media (width <=1000px) {
     .navWords {
        display: none;
    }

    .s1 {
        background-image: url('/bgmobile.jpg');
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .vid {
        width: 100%;
        height: 412px;
    }

    #saturno-container {
        display: none;
    }


}
